<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- main content for database display-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordred table-striped table-hover">
                <!-- header row-->
                <tr class="d-flex">
                    <th class="text-center col-2">EntryNum</th>
                    <th class="text-center col-2">Title</th>
                    <th class="text-center col-3">Message</th>
                    <th class="text-center col-1">Date</th>
                    <th class="text-center col-2">Month</th>
                    <th class="text-center col-1">Year</th> 
                </tr>
                <!-- Repeat the code to read all the data -->
                 <% for (let count = 0; count<EntriesList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= EntriesList[count].EntryNum%></td>
                    <td class="text-center col-2"><%= EntriesList[count].Title%></td>
                    <td class="text-center col-3"><%= EntriesList[count].Message%></td>
                    <td class="text-center col-1"><%= EntriesList[count].Date%></td>
                    <td class="text-center col-2"><%= EntriesList[count].Month%></td>
                    <td class="text-center col-1"><%= EntriesList[count].Year%></td>
                 <%  } %>
                 </tr>
            </table>
        </div>
    </div>
</main>
<%- include ../partials/footer.ejs %>
